.input {
	width: 100%;
	padding-block: 0.9375rem;
	padding-inline-start: 1.25rem;
	border-radius: 5px;
	outline: none;
	border: 1px solid #dedede;
}

.input::placeholder {
	color: var(--color-dark);
	font-weight: 600;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.25px;
}
