.service {
	max-width: 32.8125rem;
}

.title {
	text-align: center;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.29px;
}

.text {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.625rem;
	text-align: center;
}
