@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	/* === colores === */
	--color-pink: #ff7979;
	--color-green: #38cc8b;
	--color-purple: #5e54a4;
	--color-dark: #3d3b48;
	--color-white: #fff;

	/* === margenes === */
	--m-8px: 0.5rem;
	--m-11px: 0.6875rem;
	--m-16px: 1rem;
	--m-24px: 1.5rem;
	--m-20px: 1.25rem;
	--m-64px: 4rem;

	/* === Fuente === */
	--poppins: 'Poppins', sans-serif;

	/* === heigth === */
	--lh-26px: 1.625rem;
	--lh-36px: 2.25rem;
	--lh-55px: 3.4375rem;

	/* === Tamaño fuentes === */
	--fs-11px: 11px;
	--fs-14px: 14px;
	--fs-15px: 15px;
	--fs-16px: 16px;
	--fs-28px: 28px;
	--fs-50px: 50px;

	/* === Peso fuentes === */
	--fw--400: 400;
	--fw--500: 500;
	--fw--600: 600;
	--fw--700: 700;

	/* === espacio letras === */
	--ls-0-25px: 0.25px;
	--ls-0-27px: 0.27px;
	--ls-0-29px: -0.29px;
	--ls-0-52px: -0.52px;

	/* === box shadow === */
	--shadow-outside: 0px 8px 0px rgba(0, 0, 0, 0.14688);
	--shadow-inner: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}

/* === base === */

*,
*::after,
::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body {
	color: var(--color-white);
	font-family: var(--poppins);
	background-color: var(--color-pink);
	background-image: url(./images/bg-intro-mobile.png);
	background-position: top center;
}

@media screen and (min-width: 765px) {
	body {
		background-image: url(./images/bg-intro-desktop.png);
	}
}

/* === Layout === */

.container {
	max-width: 1110px;
	margin: auto;
	padding-block-start: 80px;
	width: 90%;
	position: relative;
}

.form_container,
.d_flex_col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (min-width: 765px) {
	.d_grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

/* === DESCRIPCIÓN SERVICIO  */
.servicio_des {
	text-align: center;
	margin-bottom: var(--m-64px);
	align-self: center;
}
.servicio_des > h1 {
	font-weight: vcar(--fw--700);
	font-size: var(--fs-28px);
	letter-spacing: var(--ls-0-29px);
	line-height: var(--lh-36px);
}

.servicio_des > p {
	font-weight: var(--fw--500);
	font-size: var(--fs-16px);
	line-height: var(--lh-26px);
}

@media screen and (min-width: 765px) {
	.servicio_des {
		text-align: left;
		margin-bottom: var(--m-11px);
	}

	.servicio_des > h1 {
		font-size: var(--fs-50px);
		letter-spacing: var(--ls-0-52px);
		line-height: var(--lh-55px);
	}
}

/* === SERVICIO PRECIO === */

.servicio_precio {
	background-color: var(--color-purple);
	box-shadow: var(--shadow-outside);
	border-radius: 10px;
	padding: 1.125rem 4.125rem;
	text-align: center;
	letter-spacing: var(--ls-0-27px);
	max-width: 540px;
}

.servicio_precio > p {
	font-weight: var(--fw--400);
}
.servicio_precio span {
	font-weight: var(--fw--500);
}

/* === FORMULARIO === */

.form_container {
	gap: var(--m-24px);
}

.form {
	background-color: var(--color-white);
	box-shadow: var(--shadow-outside);
	border-radius: 10px;
	padding: 24px;
}

.input_error,
.inputs {
	display: block;
	margin-bottom: var(--m-16px);
	width: 100%;
	border-radius: 5px;
	border: 1px solid #dedede;
	padding-inline-start: 20px;
	padding-block: 15px;
	color: #3d3b48;
	font-size: var(--fs-14px);
	font-weight: var(--fw--600);
	outline: none;

	transition: border 300ms linear;
}

.inputs:focus {
	border: 1px solid var(--color-purple);
}

.input_error {
	background-image: url(./images/icon-error.svg);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	border: 1px solid var(--color-pink);
	margin-bottom: 6px;
}

.inputs::placeholder {
	opacity: 0.75;
	mix-blend-mode: normal;
}

.button {
	background-color: var(--color-green);
	border: none;
	color: currentColor;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	padding: 15px 43px;
	box-shadow: var(--shadow-inner);
	margin-bottom: 8px;
	transition: background 300ms linear;
}

@media screen and (min-width: 765px) {
	.form {
		padding: 40px;
	}

	.button:hover {
		cursor: pointer;
		background-color: #77e2b3;
	}
}

.form .terminos_condiciones {
	font-weight: var(--fw--500);
	font-size: var(--fs-11px);
	text-align: center;
	color: #bab7d4;
	width: 80%;
	max-width: 369px;
	margin: auto;
}

.form span {
	color: var(--color-pink);
	font-weight: var(--fw--700);
}

/* === MENSAJE ERROR === */

.msg_error {
	color: var(--color-pink);
	font-weight: var(--fw--500);
	font-size: var(--fs-11px);
	line-height: 16.5px;
	text-align: right;
	display: inline-block;
	width: 100%;
	margin-bottom: 19px;
	font-style: italic;
}
